/* Style the navbar */
.navbar {
    background-color: #333; /* Background color for the navbar */
    padding: 10px; /* Small padding top and bottom */
    position: sticky;
    top: 0;
    }
    
    .navbar_dalam {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    }
    
    .ul_napbar li {
    margin: 0 20px; /* Spacing between navbar items */
    text-decoration: none;
    color: #fff; /* Text color for navbar links */
    font-weight: bold;
    }